<div class="row">
    <div class="col-sm-8">
          <a href="/">&larr; Back to all contacts</a><br><br>

              <button class="btn btn-success btn-xs pull-right" ng-click="editContact()"><i class="glyphicon glyphicon-pencil"></i></button>
        </h1>
        <h2>{{contact.firstName}} {{contact.lastName}}</h2>
        <h4>{{contact.email}}<br><small>{{contact.phone}}</small></h4>
         <p>{{contact.streetAddress}}
        <br>{{contact.city}}, {{contact.state}} {{contact.zip}}</p>
        <h4>Notes:</h4>
        <p>{{contact.notes}}</p>


    </div><!--close of column-->
</div><!--close of row-->